<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Authorization</title>
</head>
<body>
  <p>Client: {{ client_id }}</p>
  <p>User: {{ username }}</p>
  <!--<form action="/authorize" method="post">-->
  <form action="/oauth/authorize?client_id={{ client_id }}&state={{ state }}&redirect_uri={{ redirect_uri }}" method="post">
    <p>Allow access?</p>
    <input type="hidden" name="client_id" value="{{ client_id }}">
    <input type="hidden" name="response_type" value="{{ response_type }}">
    {% if state %}
    <input type="hidden" name="state" value="{{ state }}">
    {% endif %}
    <input type="submit" name="confirm" value="yes">
    <input type="submit" name="confirm" value="no">
  </form>
</body>
</html>
